#!/usr/bin/perl

### FIXME:
# actually add content to this file... eventually I want users to do something like
# this in their httpd.conf:
#
# <Location />
#   PerlSetEnv LWHOME /home/mark/lifewiki
#   PerlRequire /home/mark/lifewiki/mason_handler.pl
# </Location>
#
# and then they never have to touch the mason handler and all of the configuration
# is done through this config file... for example:

{
    package LifeWiki;

    # basic site configuration options
    $DOMAIN = "www.example.com";
    $PORT = 80;
    $SITEROOT = "http://$DOMAIN";
    $SITEROOT .= ":$PORT" if $PORT != 80;

    # this must be different than above -- but it doesn't have to actually
    # work.  this must only be functional if you're using a custom theme that
    # isn't installed in the root.  themes in the root function off of the
    # standard SITEROOT above.  see the theme documentation for more info.
    $THEMEDOMAIN = "theme.example.com";
    $THEMEROOT = "http://$THEMEDOMAIN";
    $THEMEROOT .= ":$PORT" if $PORT != 80;

    # setup database access
    %DBCONFIG = (
        host => 'localhost',
        database => 'lifewiki',
        username => 'lifewiki',
        password => 'lifewiki',
    );

    # setup our plugins
    @PLUGINS = (
        # add in the LDAP authentication plugin
        [ 'LDAPAuth', {
            base => "ou=...",
            server => "ldap.example.com",
            port => 369,
        } ],

        # and now, a plugin to our API
        [ 'ExistsAPI', { } ],

        # and some hypothetical markleft plugin
        [ 'Markleft', {
            allow_annoying_html => 1, # enable blink, marquee
        } ],

        # ... you get the idea
    );

    # add other configuration options...
}
